<a href="https://colab.research.google.com/github/Deepthi063/Label-Encoding/blob/master/Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Using labelled encoding  to solve Logistic Regression

In [0]:
d1={'Diameter':[10,6,12,4,14],'Color':['Red','Yellow','Red','Yellow','Red'],'Fruit':['Apple','Lemon','Apple','Lemon','Apple']}

In [2]:
import pandas as pd
df=pd.DataFrame(d1)
df

   Diameter   Color  Fruit
0        10     Red  Apple
1         6  Yellow  Lemon
2        12     Red  Apple
3         4  Yellow  Lemon
4        14     Red  Apple

In [0]:
#Prepocessing
x=df.iloc[:,[0,1]].values
y=df.iloc[:,[2]].values

In [0]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [6]:
model.fit(x,y)

ValueError: ignored

Becouse string are not accepted .so we have to convert. There are two methods 1.Normal method 2.Label Encoding

In [9]:
#Method 1
color={'Red':1,'Yellow':2}
fruit={'Apple':1,'Lemon':2}
df.Color=[color[item] for item in df.Color]
df.Fruit=[fruit[item] for item in df.Fruit]
print(df)

   Diameter  Color  Fruit
0        10      1      1
1         6      2      2
2        12      1      1
3         4      2      2
4        14      1      1

In [0]:
#Method 2
d1={'Diameter':[10,6,12,4,14],'Color':['Red','Yellow','Red','Yellow','Red'],'Fruit':['Apple','Lemon','Apple','Lemon','Apple']}

In [11]:
import pandas as pd
df=pd.DataFrame(d1)
df

   Diameter   Color  Fruit
0        10     Red  Apple
1         6  Yellow  Lemon
2        12     Red  Apple
3         4  Yellow  Lemon
4        14     Red  Apple

In [0]:
x=df.iloc[:,[0,1]].values
y=df.iloc[:,[2]].values

In [0]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [14]:
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()
df['Color']=label_encoder.fit_transform(df['Color'])
df['Color'].unique()

array([0, 1])

In [15]:
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()
df['Fruit']=label_encoder.fit_transform(df['Fruit'])
df['Fruit'].unique()

array([0, 1])

In [16]:
df

   Diameter  Color  Fruit
0        10      0      0
1         6      1      1
2        12      0      0
3         4      1      1
4        14      0      0